
@{
    ViewBag.Title = "IndexHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexHome</h2>
@foreach (var i in Model)
{
    <b>@i.Id</b><br />
    <b>@i.TenLoai</b><br />
    <b>@i.GiaTien</b><br />

}

<h1>Tim kiem</h1><br />
@foreach (var j in ViewBag.xe)
{
    <b>@j.Id</b><br />
    <b>@j.TenLoai</b><br />
    <b>@j.GiaTien</b><br />
}
@*<div class="container">
        @using (Html.BeginForm("PostHome", "LoaiXe"))
        {
            <Form>
                <input type="text" name="txtten"/>

                <button type="submit" >Ok</button>
            </Form>
        }

    </div>*@

